<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Temperature and Humidity</title>
    <link rel="stylesheet" href="style.css">
    <title>Monitor Tool</title>
</head>
<body>
    <header>
        <h1>Temperature and Humidity</h1>
    </header>
    <main>
        <section>
            <h2>Temperature</h2>
            <p>{{temperature}}</p>
        </section>
        <section>
            <h2>Humidity</h2>
            <p>{{humidity}}</p>
        </section>
    </main>
</body>
</html>